body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
}

.box-item {
    width: calc(33.3% - 1em);
    min-height: 480px;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-item > span > a {
    display: block;
    padding: 1em 3em;
    border: 1px solid black;
    text-decoration: none;
    transition-delay: 150ms;
}

.box-item > span > a:visited {
    color: black;
}

.box-item > span > a:hover {
    background: black;
    color: white;
}

@media (max-width: 991.98px) {
    .box-item {
        width: calc(33.3% - 1em);
    }
}

@media (max-width: 767.98px) {
    .box-item {
        width: calc(50% - 1em);
    }
}

@media (max-width: 575.98px) {
    .box-item {
        width: 100%;
        margin: 0.5em 1em;
    }
}