body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h3 {margin: 0; padding: 0}

.container {
    width: 100%;
}

.header {
    position: relative;
    background: silver;
}

.box {
    display: flex;
    justify-content: space-around;
    margin: 0 3em;
    align-items: center;
    height: 60px;
}

.header .box > .item {
    width: 100%;
}

.header #logo {
    width: 60px;
    height: 30px;
    border-radius: 6px;
    background: darkblue;
}

.box > .item.right > .nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-list [class*='fa-'] {
    font-size: 23px;
    color: blueviolet;
}

.content > .features {
    background: darkblue;
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.features > .central-line {
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin-bottom: -50px;
}

.features > .central-line > .ibox {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    border-radius: 10px;
    margin: 0 20px;
}